{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<form id="auth-form">
    {% csrf_token %}
<div class="content-section">
    <div class="row">
        <div class="col">
    <h1 class="mb-3">Manage Authorization</h1>
        </div>
        <div class="col-2 mt-2 mr-2">
    <button class="btn btn-outline-info" id="submit">Save</button>
        </div>
    </div>
    {% for auth in auth_list %}
        <h3 class="mb-1 mt-4">{{ auth.0.label }}</h3>
            {% if not auth.1 and not auth.2 and not auth.3 %}
            <div>
                <small class="text-danger mb-1">* Free to be accessed by anyone. Please add at least an auth to limit the access</small>
            </div>
            {% endif %}
    <div class="row">
        <div class="col">
            <h5 class="mb-1 ml-3">User</h5>
        </div>
        <div class="float-right mr-2 mb-2">
            <button class="btn btn-sm btn-outline-info" id="add-more-user-{{auth.0.value}}">Add User(s)</button>
        </div>
    </div>
    <div id="wrapper-user-{{auth.0.value}}">
        {% for auth_user in auth.1 %}
        <div class="input-group mb-2">
            <select class="custom-select" name="user{{auth.0.value}}[]">
                <option value={{auth_user.auth_user.pk}} selected>{{auth_user.auth_user.username}}</option>
                {% for user in users %}
                <option value={{user.pk}}>{{user.username}}</option>
                {% endfor %}
            </select>
            <button class="btn btn-sm btn-outline-danger ml-1" id="remove-button">Remove</button>
        </div>
        {% endfor%}
    </div>
    <div class="row">
        <div class="col">
            <h5 class="mb-1 ml-3">Unit</h5>
        </div>
        <div class="float-right mr-2 mb-2">
            <button class="btn btn-sm btn-outline-info" id="add-more-unit-{{auth.0.value}}">Add Unit(s)</button>
        </div>
    </div>
    <div id="wrapper-unit-{{auth.0.value}}">
        {% for auth_unit in auth.2 %}
        <div class="input-group mb-2">
            <select class="custom-select" name="unit{{auth.0.value}}[]">
                <option value={{auth_unit.auth_unit.pk}} selected>{{auth_unit.auth_unit.name}}</option>
                {% for unit in units %}
                <option value={{unit.pk}}>{{unit.name}}</option>
                {% endfor %}
            </select>
            <button class="btn btn-sm btn-outline-danger ml-1" id="remove-button">Remove</button>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col">
            <h5 class="mb-1 ml-3">Level</h5>
        </div>
        <div class="float-right mr-2 mb-2">
            <button class="btn btn-sm btn-outline-info" id="add-more-level-{{auth.0.value}}">Add Level(s)</button>
        </div>
    </div>
    <div id="wrapper-level-{{auth.0.value}}">
        {% for auth_level in auth.3 %}
        <div class="input-group mb-2">
            <select class="custom-select" name="level{{auth.0.value}}[]">
                <option value={{auth_level.auth_level}} selected>{{auth_level.auth_level}}</option>
                {% for level in levels %}
                <option value={{level}}>{{level}}</option>
                {% endfor %}
            </select>
            <button class="btn btn-sm btn-outline-danger ml-1" id="remove-button">Remove</button>
        </div>
        {% endfor %}
    </div>
    {% endfor%}
</div>
<div id="num-div" url="{{ auth_list|length }}" ></div>
<div id="url-div" url="{% url 'auth-detail' %}"></div>
</form>
{% endblock%}

{% block jquery %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            const submitFormButton = $("#submit");
            var divurl = document.getElementById('url-div').getAttribute('url');
            var num = document.getElementById('num-div').getAttribute('url');
            var addMoreUserButton = [];
            var addMoreUnitButton = [];
            var addMoreLevelButton = [];
            var wrapperUser = []
            var wrapperUnit = []
            var wrapperLevel = []
            var i;
            var temp;
            var temp2;

            function onButtonClick(e) {
                e.preventDefault();
                if (e.data.type == "user"){
                    temp = wrapperUser
                    temp2 = `{% for user in users %}
                             <option value={{user.pk}}>{{user.username}}</option>
                             {% endfor %}`
                } else if (e.data.type == "unit"){
                    temp = wrapperUnit
                    temp2 = `{% for unit in units %}
                             <option value={{unit.pk}}>{{unit.name}}</option>
                             {% endfor %}`
                } else if (e.data.type == "level"){
                    temp = wrapperLevel
                    temp2 = `{% for level in levels %}
                             <option value={{level}}>{{level}}</option>
                             {% endfor %}`
                }
                temp[e.data.id - 1].append(`
                    <div class="input-group mb-2">
                        <select class="custom-select" name="` + e.data.type + e.data.id + `[]">
                            <option value=0 selected hidden> </option>` +
                            temp2 +
                        `</select>
                    <button class="btn btn-sm btn-outline-danger ml-1" id="remove-button">Remove</button>
                    </div>`
                );
            }


            function removeElement(e) {
                e.preventDefault();
                $(this).parent('div').remove();
            }

            for (i = 0; i < num; i++) {
            addMoreUserButton.push($("#add-more-user-" + (i+1)))
            addMoreUnitButton.push($("#add-more-unit-" + (i+1)))
            addMoreLevelButton.push($("#add-more-level-" + (i+1)))
            wrapperUser.push($("#wrapper-user-" + (i+1)))
            wrapperUnit.push($("#wrapper-unit-" + (i+1)))
            wrapperLevel.push($("#wrapper-level-" + (i+1)))

            addMoreUserButton[i].on("click", {type: "user", id: (i+1)}, onButtonClick)
            addMoreUnitButton[i].on("click", {type: "unit", id: (i+1)}, onButtonClick)
            addMoreLevelButton[i].on("click", {type: "level", id: (i+1)}, onButtonClick)
            wrapperUser[i].on('click', '#remove-button', removeElement)
            wrapperUnit[i].on('click', '#remove-button', removeElement)
            wrapperLevel[i].on('click', '#remove-button', removeElement)
            }


            submitFormButton.on('click', function(e) {
                e.preventDefault()
                const authForm = document.getElementById('auth-form');
                const fd = new FormData(authForm);

                console.log(fd.get('foo[0]'))

                $.ajax({
                    url: divurl,
                    type: 'POST',
                    data: fd,
                    processData: false,
                    contentType: false,
                    mimeType: 'multipart/form-data',
                    success: function(returndata){
                        window.location.href = divurl;
                    }
                })
            });
        });
    </script>
{% endblock%}